<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498594841186-1604fh7apl9pgglgpvum3qjcutmg6p0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498594841186-1604fh7apl9pgglgpvum3qjcutmg6p0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBd_ouVzOv1z6alf3Y71DMqlAMW5EUxTOk</string>
	<key>GCM_SENDER_ID</key>
	<string>498594841186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arel.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-d4173</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-d4173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498594841186:ios:b637aa6c1747d29ec2073b</string>
</dict>
</plist>